<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <hr>
            <h1> <b>{{appTitle}} 🚀</b> </h1>
            <hr>
            <h2>The awesome app for characters creation you were looking for and just found. Try it for free today.</h2>
            <hr>
            <p>
                Axios is a promise-based HTTP Client for node.js and the browser. It is isomorphic (= it can run in the
                browser and
                nodejs with the same codebase). On the server-side it uses the native node.js http module, while on the
                client (browser)
                it uses XMLHttpRequests.
            </p>
            <hr>
            <p>
                An application programming interface (API) is a way for two or more computer programs to communicate
                with
                each other. It
                is a type of software interface, offering a service to other pieces of software.[1] A document or
                standard that
                describes how to build or use such a connection or interface is called an API specification. A computer
                system that
                meets this standard is said to implement or expose an API. The term API may refer either to the
                specification or to the
                implementation.
            </p>
            <hr>

        </div>
    </div>
</div>