<div class="home-body">
    <div class="center-div">
        <br>
        <br>
        <br>
        <article class="title">

            <h1>Character CRUD</h1>
            <p>CRUD some Crazy Characters!</p>
        </article>

    </div>

    <div class="bottom-div">
        <a class="attribution" href="https://www.vecteezy.com/free-vector/funny-character">Funny Character Vectors by
            Vecteezy</a>
    </div>

</div>