<div class="index">
    <div class="container index-head">
        <div class="row index-title">
            <h1 class="mt-5">{{appTitle}} 🚀</h1>
            <p>Welcome Ironhacker!</p>
        </div>
    </div>
</div>