<div class="container inicio">
    <h1>LAB | Axios </h1>
    <p>Bienvenido! Te saluda Xie Lian chibi vestido de ranita</p>
    <img src="https://i.pinimg.com/originals/0f/27/6a/0f276a4849528417449eb82400cc3180.jpg" alt="#" style="width: 30%">
</div>