body {
  font-family: sans-serif;
}

.character-card {
  border: 1px solid grey;
  padding: 5px;
  font-size: .9em;
  background-color: rgb(235, 235, 235);
  text-align: center;
}

.character-card h4 {
  margin: 10px 0;
}