<div class="container">
    <div class="row justify-content-center">
        <h1>Crear nuevo Personaje</h1>
        <div class="col-6">
            <form action="" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre: </label>
                    <input id="name" class="form-control" name="name">
                </div>
                <div class="mb-3">
                    <label for="occptn" class="form-label">Ocupación: </label>
                    <input type="text" id="occptn" class="form-control" name="occupation">
                </div>
                <div class="mb-3">
                    <label for="weapon" class="form-label">Arma: </label>
                    <input type="text" id="weapon" class="form-control" name="weapon">
                </div>
                <div class="d-grid">
                    <input type="submit" class="btn btn-dark" value="Crear">
                </div>
            </form>
        </div>
    </div>
</div>