<h1>Creaate</h1>

<form action="/characters" method="post">
    <div class="mb-3">
        <label for="" class="form-label">Name:</label>
        <input type="text" name="name" class="form-control w-25">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Occupation:</label>
        <input type="text" name="occupation" class="form-control w-25">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Weapon:</label>
        <input type="text" name="weapon" class="form-control w-25">
    </div>
    <div class="mb-3">
        <label for="" class="form-label w-25">Debt:</label>
        <select class="form-select w-25" name="debt" size="3" multiple aria-label="multiple select example">
            
            <option value="True">True</option>
            <option value="False">False</option>
            
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Create!</button>
</form>


