<div class="container">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">

                <h1>Crear {{name}}</h1>

                <hr>

                <form action="/characters/create" method="POST">
                    <label>
                        Name: <input type="text" name="name">
                    </label>

                    <label>
                        Occupation: <input type="text" name="occupation">
                    </label>

                    <label>
                        Weapon: <input type="text" name="weapon">
                    </label>

                    <input type="submit" value="Crear personaje" class="btn-dark btn">
                </form>

            </div>
        </div>
    </div>

</div>