<h2> Add a new character </h2>

<form action="/characters/create" method="POST">
    <label>
        Name: 
        <input type="text" name="name" />
    </label>
    <br />
     <label>
        Occupation: 
        <input type="text" name="occupation" />
    </label>
    <br />
    <label>
        Weapon: 
        <input type="text" name="weapon" />
    </label>
    <br />

    <button>
        Submit
    </button>
</form>
