<div class="container">

    <h1> create character</h1>

    <hr>

    <div class="container mb-5">

        <form action="/create" method="POST">

            <div class="container mb-3">
                <label for=""> NAME </label>
                <input type="text" name="name">
            </div>

            <div class="container mb-3">
                <label for=""> OCCUPATION </label>
                <input type="text" name="occupation">
            </div>

            <div class="container mb-3">
                <label for=""> DEDBT </label>
                <select name="debt" id="">
                    <option value="true"> true </option>
                    <option value="false"> false </option>
                </select>
            </div>

            <div class="container mb-3">
                <label for=""> WEAPON </label>
                <input type="text" name="weapon">
            </div>


            <div class="container mb-3">
                <button class="btn btn-dark"> CREATE </button>
            </div>

        </form>

    </div>

</div>