<form action="characters/create" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <br><br>
    <label for="occupation">Occupation:</label>
    <input type="occupation" name="occupation" id="occupation">
    <br><br>
    <label for="weapon">Weapon:</label>
    <input type="weapon" name="weapon" id="weapon">

    <button type="submit">Create characters!</button>


</form>