<h2>Create Character</h2>

<form action="/characters/create/" method="POST">
<label>Name
    <input type="text" name="name" value="">
</label>

<label>Occupation
    <input type="text" name="occupation" value="">
</label>

<label>Weapon
    <input type="text" name="weapon" value="">
</label>
<br />
Debt?
<label>Yes
    <input type="radio" name="debt" value="true">
</label>
<label>No
    <input type="radio" name="debt" value="false">
</label>
<button type="submit">Create</button>
</form>