<h1>Create character</h1>

<form action="/characters/create" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" />

    <label for="occupation">ocupation:</label>
    <input type="text" name="occupation" id="age" />

    <label for="debt">debt:</label>
    <input type="checkbox" name="debt">

    <label for="weapon">weapon:</label>
    <input type="text" name="weapon" id="weapon" />

    <input type="submit" value="Create" />
</form>