<form action="/characters/create" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" required />

    <label for="occupation">Occupation</label>
    <input type="text" name="occupation" required />

    <label for="weapon">Weapon</label>
    <input type="text" name="weapon" required />

    <label for="debt">Debt</label>
    <input name="boolean-parameter" type="radio" value="true" required />True
    <input name="boolean-parameter" type="radio" value="false" required />False

    <button type="submit">Create</button>
</form>