<form class="editForm" action="/characters/create" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name">
    <br>
    <label for="occupation">Occupation:</label>
    <input type="text" name="occupation">
    <br>
    <label for="debt">Debt:</label>
    <input type="checkbox" name="debt">
    <br>
    <label for="weapon">Weapon:</label>
    <input type="text" name="weapon">
    <br>
    <button type="submit">Submit</button>
</form>