<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-6">
            <form action="/characters/create" method="post">
                <div class="form-group mb-3">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group mb-3">
                    <label>Ocupation</label>
                    <input type="text" class="form-control" name="occupation">
                </div>
                <div class="form-group mb-3">
                    <label>Weapon</label>
                    <input type="text" class="form-control" name="weapon">
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary btn-dark" type="submit">Create a new character</button>
                </div>
            </form>
        </div>
    </div>


</div>