<div class="container">
    <div class="row">
        <div class="col">
            <h2>Create character</h2>
            <form action="/characters/create" method="post">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name" name="name">

                <label for="occupation" class="form-label">Profesión</label>
                <input type="text" class="form-control" id="occupation" name="occupation">

                <label for="weapon" class="form-label">Arma</label>
                <input type="text" class="form-control" id="weapon" name="weapon">

                <button type="submit" class="btn btn-dark btn-lg">Crear personaje</button>
            </form>

        </div>
    </div>
</div>