<h1>Nuevo personaje</h1>
<hr>
<form action="/characters/create" method="POST">
    <div>
        <div>
            <label for="name">Nombre</label>
            <input type="text" id="name" name="name">
        </div>
        <div>
            <label for="weapon">Arma</label>
            <input type="text" id="weapon" name="weapon">
        </div>
    </div>

    <div>
        <label for="occupation">Profesión</label>
        <input type="text" id="occupation" name="occupation">
    </div>

    <div>
        <button type="submit">Crear personaje</button>
    </div>
</form>