<div class="row justify-content-center">
	<div class="col-10">
		<h2 class="mb-4">New Character</h2>
		<form action="/character/create" method="POST">
			<div class="mb-3">
				<label for="nameInput" class="form-label">Nombre</label>
				<input type="text" class="form-control" id="nameInput" name="name">
			</div>
			<div class="mb-3">
				<label for="occupationInput" class="form-label">Occupation</label>
				<input type="text" class="form-control" id="occupationInput" name="occupation">
			</div>
			<div class="mb-3">
				<label for="weaponInput" class="form-label">Weapon</label>
				<input type="text" class="form-control" id="weaponInput" name="weapon">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>