<form action="/create" method="POST" class="white col-md-6">
    <div class=" mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>

    <div class="mb-3">
        <label for="ocupation" class="form-label">Trabajo</label>
        <input type="text" class="form-control" id="ocupation" name="occupation">
    </div>

    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="debt" name"debt" value="true">
        <label class="form-check-label" for="debt">Deuda</label>
    </div>

    <div class="mb-3">
        <label for="weapon" class="form-label">Arma</label>
        <input type="text" class="form-control" id="weapon" name="weapon">
    </div>



    <button type="submit" class="btn btn-dark">Create character</button>
    <a href="/movies" class="btn btn-dark">Back</a>

</form>