<form action="/create-character" method="POST" class="row g-3">
    <div class="col-md-6">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" name="name">
    </div>
    <div class="col-md-6">
        <label for="occupation" class="form-label">Occupation</label>
        <input type="text" class="form-control" name="occupation">
    </div>
    <div class="col-md-6">
        <label for="weapon" class="form-label">Weapon</label>
        <input type="text" class="form-control" name="weapon">
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Crear</button>
    </div>
</form>