

    <h1>Create a new Character</h1>
    <form action="/characters/create-character" method="post">
  <div class="form-group">
    <label class="my-3" for="exampleFormControlInput1">Name</label>
    <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Han Cholo">
  </div>
  <div class="form-group">
    <label class="my-3" for="exampleFormControlInput1">Occupation</label>
    <input type="text" name="occupation" class="form-control" id="exampleFormControlInput1" placeholder="Mariachi">
  </div>
  <div class="form-group">
    <label class="my-3" for="exampleFormControlSelect1">Debt?</label>
    <select class="form-control" name="debt" id="exampleFormControlSelect1">
      <option>true</option>
      <option>false</option>
    </select>
  </div>
    <div class="form-group">
    <label class="my-3" for="exampleFormControlInput1">Weapon</label>
    <input type="text" name="weapon" class="form-control" id="exampleFormControlInput1" placeholder="Guitar">
  </div>

  <button class="mt-5 btn btn-primary" type="submit">Submit</button>
</form>





