<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h2>Create Character</h2>
            <hr>

            <form action="/characters/create" method="POST">

                <div class="mb-3 row">
                    <div class="col">
                        <label for="emailInput" class="form-label">Name :</label>
                        <input type="text" class="form-control" id="emailInput" name="name">
                    </div>
                    <div class="col">
                        <label for="pwdInput" class="form-label">Occupation :</label>
                        <input type="text" class="form-control" id="pwdInput" name="occupation">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="usernameInput" class="form-label">Weapon :</label>
                    <input type="text" class="form-control" id="usernameInput" name="weapon">
                </div>

                <div class="mb-3">
                    <label for="usernameInput" class="form-label">Debt :</label>
                    <select name="debt">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark block">Add Character</button>
                </div>

            </form>
        </div>
    </div>

</div>