<h2 class="mt-5">Details of {{ character.name }}</h2>


<hr>


<h4> Occupation: {{ character.occupation }} </h4>

<p> Weapon: {{ character.weapon }} </p>

<form action="/characters/{{character.id}}/delete" method="POST">

<button type="submit" class="btn btn-secondary">Eliminar</button>


</form>