<div class="container mt-5">

    <h1>Detalles de {{character.name}}</h1>

    <hr>

    <p>Tiene como arma {{character.weapon}}</p>

    <a href="/characters" class="btn btn-dark">Volver al listado</a>

</div>