<h1>Profile</h1>
<hr>
<p><b>Name: </b>{{character.name}}</p>
<p><b>Occupation: </b>{{character.occupation}}</p>
<p><b>Weapon: </b>{{character.weapon}}</p>
<hr>
<a href="/characters" class="btn btn-dark">Back to list</a>