<div class="container text-center">
    <h2>Details of {{ character.name }}</h2>
    <hr>
    <h2> Occupation: {{ character.occupation }} </h2>
    <hr>
    <h2> Weapon: {{ character.weapon }} </h2>
</div>