<div class="container mt-5">
    <h2>Nombre: {{ character.name }}</h2>
    <h3> Ocupacion: {{ character.occupation }} </h3>
    <h3> Arma: {{ character.weapon }} </h3>
    <form action="/character/{{character.id}}/delete" method="post">
        <input type="submit" value="Eliminar personaje" class="btn btn-danger" style="display: inline">
    </form>
</div>