<div class="container mt-5">

    <h1>Details of {{character.name}}</h1>

    <hr>
    <p> Occupation: {{ character.occupation }} </p>

    <p>Weapon: {{character.weapon}}</p>

    <a href="/characters" class="btn btn-dark">Volver al listado</a>

</div>