<div class="container">


    <h2> {{ character.name }}</h2>

    <p> Occupation: {{ character.occupation }} </p>

    <p> Weapon: {{ character.weapon }} </p>

    <div> <a href="/characters/{{character.id}}/editing" class="btn btn-dark">Edit Character</a>
    </div>