<h2>Details of {{ name }}</h2>


<h3> Occupation: {{ occupation }} </h3>

<p> Weapon: {{ weapon }} </p>

 <form action="/characters/{{id}}/delete" method="POST" style="display: inline">
<input type="submit" value="Delete">
</form>   