<p>test</p>





<form action="/characters/{{ character.id }}/update" method="post">
<p>Name</p>
<input type="text" name="name" value="{{ character.name }}">
<p>Occupation</p>
<input type="text" name="occupation">
<p>Debt</p>
<input type="text" name="debt">
<p>Weapon</p>
<input type="text" name="weapon">

<button type="submit">Submit</button>

</form>