<div class="row justify-content-center text-center">
    <div class="col-md-6">
        <h1>Edit character</h1>
        <hr>
        <form action="/characters/{{character.id}}/edit" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" value="{{character.name}}" id="name" name="name">
            </div>
            <div class="mb-3">
                <label for="occupation" class="form-label">Occupation</label>
                <input type="text" class="form-control" value="{{character.occupation}}" id="occupation"
                    name="occupation">
            </div>
            <div class="mb-3">
                <label for="weapon" class="form-label">Weapon</label>
                <input type="text" class="form-control" value="{{character.weapon}}" id="weapon" name="weapon">
            </div>
            <div class="d-grid mt-5">
                <button type="submit" class="btn btn-dark btn-lg">Crear personaje</button>
            </div>
        </form>
    </div>
</div>