<form action="/edit-character/{{character.id}}" method="POST" class="row g-3">
    <div class="col-md-6">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" name="name" value="{{character.name}}">
    </div>
    <div class="col-md-6">
        <label for="occupation" class="form-label">Occupation</label>
        <input type="text" class="form-control" name="occupation" value="{{character.occupation}}">
    </div>
    <div class="col-md-6">
        <label for="weapon" class="form-label">Weapon</label>
        <input type="text" class="form-control" name="weapon" value="{{character.weapon}}">
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Editar</button>
    </div>
</form>