<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-md-6">

            <h1>Update character</h1>
            <hr>
            <form action="/characters/{{character.id}}/edit" method="POST">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" value="{{character.name}}">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="weapon" class="form-label">Weapon</label>
                            <input type="text" class="form-control" id="weapon" name="weapon"
                                value="{{character.weapon}}">
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="occupation" class="form-label">Occupation</label>
                    <input type="text" class="form-control" id="occupation" name="occupation"
                        value="{{character.occupation}}">
                </div>

                <div class="d-grid mt-5">
                    <button type="submit" class="btn btn-dark btn-lg">Update</button>
                </div>
            </form>
        </div>
    </div>


</div>