<h2> Characters List </h2>

<ul>
    {{#each characters }}
    <li>
        <p><a href="/characters/{{id}}"> {{ name }} </a><br>
            <a href="/characters/{{id}}/edit">Editar</a>
            <a href="/characters/{{id}}/delete">Eliminar</a>
        </p>
    </li>
    {{/each}}
</ul>