<h2> Characters List </h2>

<ul>
    {{#each characters }}
    <li> <a href="/characters/{{id}}"> {{ name }} </a>
        <a href="/characters/{{id}}/edit"> Edit Character </a>
        <form action="/characters/{{id}}/delete" method="POST" style="display: inline">
            <input type="submit" value="eliminar" class="btn btn-sm btn-danger">
        </form>
    </li>

    {{/each}}
</ul>