<h2> Characters List </h2>


{{#each characters }}
<a href="/characters/{{id}}"> {{ name }} </a>
<div class="btn-group" style="width: 100%">
    <a href="/edit/{{id}}" class="btn btn-outline-dark btn-sm">Edit character</a>
    <a href="/delete/{{id}}" class="btn btn-dark btn-sm">Delete character</a>
</div>
{{/each}}
<hr>