<div class="container">
    <div class="row">
        <h2> Characters List </h2>

        <ul>
            {{#each characters}}
            <h2><a href="/characters/{{id}}"> {{ name }} </a>
            </h2>
            {{/each}}
        </ul>
    </div>

</div>