<h2> Characters List </h2>

<ul>
    {{#each characters }}
        <li> <a href="/personajes/detallesPersonajes/{{id}}"> {{ name }} </a></li>
      <hr>
      {{!-- <a href="/personajes/editar/{{id}}" class=" btn btn-warning btn-sm">Editar</a> --}}
    {{/each}}

</ul>

