<h2> Characters List </h2>
<a href="/characters/crear" class="btn btn-dark btn-lg">Create</a>
<ul>
    {{#each characters }}
        <li> <a href="/characters/{{id}}"> {{ name }} </a></li>
    {{/each}}

</ul>