<div class="container mt-5">
    <h1>Character List</h1>
    <div class="row">

        <h2> Characters List </h2>
        {{#each character}}

        <div class="col-md-3">

            <article class="character-card mb-5">

                <h4>{{name}}</h4>


                <div class="d-grid">

                    <a href="/characters/{{id}}" class="btn btn-dark">Details</a>
                    <a href="/edit/{{id}}" class="btn btn-warning">Edit</a>
                    <form action="/delete/{{id}}" method="POST">
                        <input type="submit" value="eliminar" class="btn btn-sm btn-danger">
                    </form>

                </div>

            </article>

        </div>
        {{/each}}
    </div>

</div>