<h2> Characters List </h2>

<ul>
    {{#each characters }}
        <li> <a href="/characters/{{id}}"> {{ name }} </a></li>
    {{/each}}

    <br>


    <a href="/characters/create-character">Create a character</a>
</ul>