<div class="container">
    <div class="characters-list">
        <h1> characters List </h1>

        <ul class="characters-list">
            {{#each characters }}
            <li> <a href="/characters/{{id}}"> {{ name }} </a></li>
            {{/each}}
        </ul>
    </div>
</div>
</div>