<div class="container">
    <h1>Characters List</h1>
    <hr class="mb-3">

    {{#each characters}}


    <li> <a href="/characters/{{id}}"> {{ name }} </a></li>

    <hr>

    {{/each}}

    <a href="/" class="btn btn-dark">Volver a inicio</a>
</div>