<h2> Characters List </h2>

<ul>
    {{#each characters }}
    <h2> <a href="/characters/{{id}}"> {{ name }} </a></h2> {{!-- //Este characters accede a la url(sin el heroapi
    delante) --}}
    <li> <a href="characters/delete/{{id}}">Delete</a></li>
    {{/each}}
</ul>

<a href="/characters/create" class="btn btn-warning"> Create </a>