<style>
    .nameAndEdit {
        display: flex;
        width: 25%
    }
    .nameAndEdit button{
        justify-content: flex-end;
    }
</style>

<h2> Characters List </h2>

<ul>
    {{#each characters }}
    <span class="nameAndEdit">
        <li> <a href="/characters/{{id}}"> {{ name }} </a></li>
        <button><a href="/characters/{{id}}/update">Edit</a></button>
    </span>
    {{/each}}
</ul>

<h1>Create a Character</h1>
<form method="post" action="/characters/create">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Occupation:</label>
    <input type="text" name="occupation">
    <label>Debt:</label>   
     <select name="debt" id='debt'>
        <option value="true">true</option>>
        <option value="false">false</option>
    </select>
     <label>Weapon:</label>
    <input type="text" name="weapon">
    <button type="submit">Submit</button>
</form>