<div class="container mt-5">
    <h2> Character</h2>
    <hr>
    <ul>
        {{#each characters }}
        <li> <a href="/characters/list/{{id}}">{{ name }} </a></li>
        {{/each}}
    </ul>
</div>
