<h2> Characters List </h2>


<div class="card">

    <div class="card-body">

        <ul>
            {{#each characters }}
            <li> <a href="/characters/{{id}}"> {{ name }} </a></li>
            {{/each}}
        </ul>
    </div>
</div>