<h2> Characters List </h2>
<div class="container">
    <table class="table">
        <tbody>

            {{#each characters }}
            <tr></tr>
            <li> <a href="/characters/{{id}}"> {{ name }} </a></li>
            {{/each}}
            </ul>
            </tr>
    </table>

</div>