
<h1>CREATE CHARACTER</h1>
<hr>


 <form action="/characters/create" method="POST">

                <div>
                    <label for="name" class="form-label">Character Name</label>
                    <input type="text" class="form-control" id="name" name="name" >
                </div>

                <div>
                    <label for="occupation" class="form-label">Occupation</label>
                    <input type="text" class="form-control" id="occupation" name="occupation" >
                </div>

                <div>
                    <label for="weapon" class="form-label">Weapon</label>
                    <input type="text" class="form-control" id="weapon" name="weapon" >
                </div>

                <button type="submit">Enviar</button>
                

            </form>